In [ ]:
! pip show psycopg2-binary

In [ ]:
# ! pip install psycopg2-binary

In [ ]:
import psycopg2

In [ ]:
import psycopg2

PGHOST='ep-white-field-a8rw6835-pooler.eastus2.azure.neon.tech'
PGDATABASE='formacion'
PGUSER='formacion_owner'
PGPASSWORD='xcg_qpOxh7GvM9Ii'

def create_server_connection():
    conn = None
    try:
        conn = psycopg2.connect(database=PGDATABASE, user=PGUSER, password=PGPASSWORD, host=PGHOST, port=5432)
        print("Database conn successful")
    except Error as err:
        print(f"Error: '{err}'")

    return conn

In [4]:
connection = create_server_connection()
connection.close()

Database conn successful

In [ ]:
conn = create_server_connection()

# Open a cursor to perform database operations
cur = conn.cursor()
# Execute a command: create datafund_students table
try:
    cur.execute("""CREATE TABLE datafund_students(
                student_id SERIAL PRIMARY KEY,
                student_name VARCHAR (50) UNIQUE NOT NULL,
                student_email VARCHAR (100) NOT NULL,
                student_age INT NOT NULL);
                """)
    # Make the changes to the database persistent
    conn.commit()
except Error as err:
        print(f"Error: '{err}'")
        conn.rollback()

# Close cursor and communication with the database
cur.close()
# más cursores -> más sqls
conn.close()

In [ ]:
conn = create_server_connection()

cur = conn.cursor()

cur.execute("INSERT INTO datafund_students(student_name, student_email, student_age) VALUES('Pedro','p@p.es',34)")
cur.execute("INSERT INTO datafund_students(student_name, student_email, student_age) VALUES('Anna','a@a.es',43)")
cur.execute("INSERT INTO datafund_students(student_name, student_email, student_age) VALUES('Luisa','l@l.es',54)")
cur.execute("INSERT INTO datafund_students(student_name, student_email, student_age) VALUES('Juan','j@j.es',21)")

conn.commit()
cur.close()
conn.close()

In [ ]:
conn = create_server_connection()

cur = conn.cursor()
cur.execute('SELECT * FROM datafund_students;')
rows = cur.fetchall()
# conn.commit()
cur.close()
conn.close()

print('rows:', rows)

for row in rows:
    print('un registro:',row)

In [ ]:
conn = create_server_connection()

# Create new table
cur = conn.cursor()

cur.execute("""CREATE TABLE students_grades(
            grade_id SERIAL PRIMARY KEY,
            course_name VARCHAR (50) UNIQUE NOT NULL,
            student_number INT NOT NULL,
            grade INT NOT NULL);
            """)

conn.commit()
cur.close()
conn.close()

In [ ]:
conn = create_server_connection()

# Insert new data
cur = conn.cursor()
cur.execute("INSERT INTO students_grades(course_name, student_number, grade) VALUES('SQL', 1, 8)")
cur.execute("INSERT INTO students_grades(course_name, student_number, grade) VALUES('Python', 2, 1)")
cur.execute("INSERT INTO students_grades(course_name, student_number, grade) VALUES('R', 3, 6)")
cur.execute("INSERT INTO students_grades(course_name, student_number, grade) VALUES('Julia', 4, 3)")
cur.execute("INSERT INTO students_grades(course_name, student_number, grade) VALUES('Scala', 1, 8)")

conn.commit()
cur.close()
conn.close()

In [ ]:
conn = create_server_connection()

cur = conn.cursor()
cur.execute("""SELECT student_name, student_email, course_name, grade FROM datafund_students
INNER JOIN students_grades ON datafund_students.student_id = students_grades.student_number""")

rows = cur.fetchall()
for row in rows:
    print(row)

cur.close()
conn.close()

In [25]:
print('--- Mostrar los primeros 5 pagos realizados ---')

def obtener_ultimos_pagos(num, conn):
    cur = conn.cursor()
    SQL = """SELECT * FROM payments ORDER BY paymentdate ASC LIMIT {0}""".format(num)
    cur.execute(SQL)
    rows = cur.fetchall()
    cur.close()
    
    return rows

--- Mostrar los primeros 5 pagos realizados ---

In [26]:
conn = create_server_connection()
resultados = obtener_ultimos_pagos(17, conn)
conn.close()

for row in resultados:
    print(row)

Database conn successful
(363, 'IS232033', datetime.date(2003, 1, 16), Decimal('10223.83'))
(128, 'DI925118', datetime.date(2003, 1, 28), Decimal('10549.01'))
(181, 'GQ132144', datetime.date(2003, 1, 30), Decimal('5494.78'))
(121, 'DB889831', datetime.date(2003, 2, 16), Decimal('50218.95'))
(145, 'JJ246391', datetime.date(2003, 2, 20), Decimal('53959.21'))
(141, 'JN722010', datetime.date(2003, 2, 25), Decimal('40206.20'))
(278, 'GP636783', datetime.date(2003, 3, 2), Decimal('52151.81'))
(131, 'CL442705', datetime.date(2003, 3, 12), Decimal('22292.62'))
(486, 'JB117768', datetime.date(2003, 3, 20), Decimal('25833.14'))
(187, 'KL124726', datetime.date(2003, 3, 27), Decimal('48425.69'))
(129, 'PI42991', datetime.date(2003, 4, 9), Decimal('16537.85'))
(144, 'LA685678', datetime.date(2003, 4, 9), Decimal('7674.94'))
(124, 'CQ287967', datetime.date(2003, 4, 11), Decimal('11044.30'))
(424, 'LM271923', datetime.date(2003, 4, 16), Decimal('21665.98'))
(381, 'CC475233', datetime.date(2003, 4, 19), Decimal('1627.56'))
(172, 'EH208589', datetime.date(2003, 4, 20), Decimal('33383.14'))
(216, 'BG407567', datetime.date(2003, 5, 9), Decimal('3101.40'))

In [28]:
def ejecutor_de_sqls(sql, conn):
    cur = conn.cursor()
    SQL = sql
    cur.execute(SQL)
    rows = cur.fetchall()
    cur.close()
    
    return rows

In [ ]:
SQL = """SELECT * FROM payments ORDER BY paymentdate ASC LIMIT {0}""".format(num)
ejecutor_de_sqls(SQL ,conn)