# **Introducci√≥n a SQL**

## ¬øQu√© es SQL? (Para no iniciados)
SQL (Structured Query Language , o Lenguaje de Consulta Estructurada ) es un lenguaje de programaci√≥n dise√±ado para gestionar y manipular bases de datos relacionales . En otras palabras, sirve para hablar con las bases de datos y decirles qu√© informaci√≥n queremos guardar, cambiar, buscar o eliminar.

## Introducci√≥n a PostgreSQL

**¬øQu√© es PostgreSQL?**

- Sistema de base de datos relacional de c√≥digo abierto.
- Soporta tipos de datos complejos, √≠ndices, transacciones, procedimientos almacenados, y m√°s.
- Ideal para aplicaciones que requieren alta disponibilidad, integridad y escalabilidad.

## Tipos de Datos Comunes

| Tipo | Descripci√≥n |
|------|-------------|
| `INTEGER` | N√∫meros enteros |
| `VARCHAR(n)` | Cadena de texto de longitud variable |
| `TEXT` | Cadena de texto sin l√≠mite |
| `DATE` | Fecha (`YYYY-MM-DD`) |
| `TIMESTAMP` | Fecha y hora |
| `BOOLEAN` | Verdadero/Falso |
| `DECIMAL(p,s)` | N√∫mero exacto con precisi√≥n definida |
| `JSONB` | Almacenamiento binario de objetos JSON |

## CRUD: Operaciones B√°sicas

### üîç SELECT
```sql
SELECT nombre, edad FROM usuarios;
```

### ‚ûï INSERT
```sql
INSERT INTO usuarios (nombre, edad) VALUES ('Ana', 28);
```

### ‚úèÔ∏è UPDATE
```sql
UPDATE usuarios SET edad = 29 WHERE nombre = 'Ana';
```

### ‚ùå DELETE
```sql
DELETE FROM usuarios WHERE edad < 18;
```

## Filtrado y Ordenamiento

### WHERE
```sql
SELECT * FROM usuarios WHERE edad > 30;
```

### Operadores comunes:
- `=`, `<>`, `<`, `>`, `<=`, `>=`
- `IN`, `NOT IN`, `LIKE`, `ILIKE`, `IS NULL`, `IS NOT NULL`

### ORDER BY
```sql
SELECT * FROM usuarios ORDER BY edad DESC;
```

## Agregaciones y Funciones de Grupo

### COUNT, SUM, AVG, MAX, MIN
```sql
SELECT COUNT(*) FROM usuarios;
SELECT AVG(edad), MAX(edad) FROM usuarios;
```

### GROUP BY
```sql
SELECT ciudad, COUNT(*) AS total_usuarios
FROM usuarios
GROUP BY ciudad;
```

### HAVING
```sql
SELECT ciudad, COUNT(*) AS total_usuarios
FROM usuarios
GROUP BY ciudad
HAVING COUNT(*) > 5;
```

## Relaciones y JOINs

### INNER JOIN
```sql
SELECT u.nombre, r.rol
FROM usuarios u
INNER JOIN roles r ON u.rol_id = r.id;
```

### LEFT JOIN
```sql
SELECT u.nombre, r.rol
FROM usuarios u
LEFT JOIN roles r ON u.rol_id = r.id;
```

### RIGHT JOIN / FULL OUTER JOIN
```sql
-- Similar sintaxis, menos usados que INNER/LEFT JOIN
```

## Subconsultas y CTEs

### Subconsulta
```sql
SELECT nombre FROM usuarios
WHERE edad > (
    SELECT AVG(edad) FROM usuarios
);
```

### Common Table Expression (CTE)
```sql
WITH promedio_edad AS (
    SELECT AVG(edad) AS avg_edad FROM usuarios
)
SELECT nombre FROM usuarios, promedio_edad
WHERE edad > promedio_edad.avg_edad;
```

## Funciones Avanzadas

### CASE
```sql
SELECT nombre,
       CASE WHEN edad >= 18 THEN 'Mayor de edad'
            ELSE 'Menor de edad'
       END AS categoria
FROM usuarios;
```

### COALESCE
```sql
SELECT nombre, COALESCE(email, 'Sin email') FROM usuarios;
```

### Funciones de fecha
```sql
SELECT EXTRACT(YEAR FROM fecha_registro) AS a√±o_registro FROM usuarios;
SELECT NOW(); -- Retorna fecha y hora actual
```

### Concatenaci√≥n
```sql
SELECT nombre || ' - ' || email AS info_usuario FROM usuarios;
```

## Creaci√≥n de Tablas y DDL

### CREATE TABLE
```sql
CREATE TABLE usuarios (
    id SERIAL PRIMARY KEY,
    nombre VARCHAR(100),
    email TEXT UNIQUE,
    edad INTEGER,
    fecha_registro DATE DEFAULT CURRENT_DATE
);
```

### ALTER TABLE
```sql
ALTER TABLE usuarios ADD COLUMN telefono VARCHAR(20);
```

### DROP TABLE
```sql
DROP TABLE IF EXISTS usuarios;
```

## Vistas y Materializaciones

### CREATE VIEW
```sql
CREATE VIEW usuarios_mayores AS
SELECT * FROM usuarios WHERE edad > 18;
```

### Uso de la vista
```sql
SELECT * FROM usuarios_mayores;
```

## Ejercicios Pr√°cticos

### Ejercicio 1: Listar usuarios mayores de 25 a√±os

```sql
SELECT * FROM usuarios WHERE edad > 25;
```

### Ejercicio 2: Contar cu√°ntos usuarios hay por pa√≠s

```sql
SELECT pais, COUNT(*) AS cantidad
FROM usuarios
GROUP BY pais;
```

### Ejercicio 3: Mostrar el nombre del usuario y su rol usando JOIN

```sql
SELECT u.nombre, r.nombre_rol
FROM usuarios u
JOIN roles r ON u.rol_id = r.id;
```

### Ejercicio 4: Usar CTE para obtener el promedio de edad y mostrar usuarios por encima de ese valor

```sql
WITH promedio AS (
    SELECT AVG(edad) AS avg_edad FROM usuarios
)
SELECT nombre, edad
FROM usuarios, promedio
WHERE edad > promedio.avg_edad;
```

## M√°s informaci√≥n:

- **Documentaci√≥n oficial PostgreSQL**: [https://www.postgresql.org/docs/](https://www.postgresql.org/docs/)
- **Libro: "Learning SQL" by Alan Beaulieu**